<aside class="Hui-aside">

	<div class="menu_dropdown bk_2">


<dl id="menu-admin">
	<dt>
		<i class="Hui-iconfont">&#xe62d;</i>
			管理员管理
		<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
	</dt>
	<dd>
		<ul>
			<li>
				<a data-href="{:url('manage/index')}" data-title="管理员列表" href="javascript:void(0)">
					管理员列表
				</a>
			</li>
		</ul>
	</dd>
</dl>



<dl id="menu-admin">
	<dt>
		<i class="Hui-iconfont">&#xe6bb;</i>
			打卡管理
		<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
	</dt>
	<dd>
		<ul>
			<li>
				<a data-href="{:url('activity/edit',['aid'=>1])}" data-title="活动管理" href="javascript:void(0)">
					打卡设置
				</a>
			</li>
		</ul>
	</dd>
</dl>



<dl id="menu-admin">
	<dt>
		<i class="Hui-iconfont">&#xe616;</i>
			信息管理
		<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
	</dt>
	<dd>
		<ul>
			<li>
				<a data-href="{:url('message/userclock')}" data-title="用户打卡记录" href="javascript:void(0)">
					用户打卡记录
				</a>
			</li>
			<li>
				<a data-href="{:url('message/cstatistics')}" data-title="用户打卡统计" href="javascript:void(0)">
					用户打卡统计
				</a>
			</li>
			<li>
				<a data-href="{:url('message/usermessage')}" data-title="用户信息查看" href="javascript:void(0)">
					用户信息查看
				</a>
			</li>
			<li>
				<a data-href="{:url('message/ordermessage')}" data-title="订单信息查看" href="javascript:void(0)">
					订单信息查看
				</a>
			</li>
			<li>
				<a data-href="{:url('message/logmessage')}" data-title="瓜分金额日志" href="javascript:void(0)">
					瓜分金额日志
				</a>
			</li>
			<li>
				<a data-href="{:url('message/streammessage')}" data-title="用户资金流水" href="javascript:void(0)">
					用户资金流水
				</a>
			</li>
		</ul>
	</dd>
</dl>


</div>


</aside>

<div class="dislpayArrow hidden-xs">
	<a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>